{erl_opts, [debug_info]}.
{deps, [
    {klsn, {git, "https://github.com/ts-klassen/klsn.git", {tag, "1.10.0"}}}
  , {gun, {git, "https://github.com/ninenines/gun.git", {tag, "2.1.0"}}}
]}.

{cover_enabled, true}.

{escript_incl_apps,
 [chrme]}.
{escript_main_app, chrme}.
{escript_name, chrme}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
